<footer class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>{{Dictionary.FOOTER_CHURCH_NAME}}</h5>
        <p>{{Dictionary.FOOTER_TAGLINE}}</p>
      </div>
      <div class="col-md-4">
        <h5>{{Dictionary.FOOTER_QUICK_LINKS}}</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white text-decoration-none">{{Dictionary.FOOTER_HOME}}</a></li>
          <li><a href="/about" class="text-white text-decoration-none">{{Dictionary.FOOTER_ABOUT}}</a></li>
          <li><a href="/branches" class="text-white text-decoration-none">{{Dictionary.FOOTER_BRANCHES}}</a></li>
          <li><a href="/events" class="text-white text-decoration-none">{{Dictionary.FOOTER_EVENTS}}</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>{{Dictionary.FOOTER_CONTACT_US}}</h5>
        <p>{{Dictionary.FOOTER_EMAIL}}</p>
        <p>{{Dictionary.FOOTER_PHONE}}</p>
        <div class="social-links mt-3">
          <a href="https://www.facebook.com/VoiceOfChristInAction" target="_blank" rel="noopener noreferrer" class="text-white me-3" title="Facebook">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="https://www.tiktok.com/@VoiceOfChristChurchInAction" target="_blank" rel="noopener noreferrer" class="text-white me-3" title="TikTok">
            <i class="fab fa-tiktok fa-lg"></i>
          </a>
          <a href="https://www.youtube.com/@voiceofchristinactiontv1093" target="_blank" rel="noopener noreferrer" class="text-white" title="YouTube">
            <i class="fab fa-youtube fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
    <hr class="bg-white">
    <div class="text-center">
      <p>&copy; {{currentYear}} {{Dictionary.FOOTER_COPYRIGHT}}</p>
    </div>
  </div>
</footer>
